@media (max-height: 1118px) {
  .aside-menu__nav {
    margin-bottom: 30px;
  }
}

@media (max-height: 940px) {
  .lang {
    display: none;
  }
}

@media (max-width: 1300px) {
  .aside-menu {
    display: none;
  }

  .main {
    margin-left: 0;
  }

  .header__wrapper {
    padding: 0 18px;
  }

  .header__all-games {
    display: none;
  }

  .header__topmenu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .mobile-buttons {
    display: flex;
    & .game-balance__arrow {
      display: none;
    }
    & .mobile-btn {
      display: block;
    }
    & .game-balance {
      background: #222d3e;
      border-radius: 10px;
      padding: 5px;
    }
  }

  .topmenu-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .header__topmenu.mobile {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #1a1d22;
    z-index: 90;
    & .topmenu__notification {
      display: none;
    }
    & .topmenu__user {
      margin-left: 15px;
    }
  }

  .topmenu {
    height: 60px;
    justify-content: center;
  }
}

@media only screen and (max-width: 1150px) and (min-device-width: 767px) {
  // .paid__head-content {
  //   flex-wrap: wrap;
  // }

  // .paid__head-trx {
  //   width: 100%;
  //   margin-bottom: 20px;
  // }
  .paid__head-trx {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1100px) and (min-device-width: 767px) {
  .paid__graphic {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .main-title {
    font-size: 25px;
  }

  .tokens-box__sum {
    font-size: 25px;
  }

  .history,
  .paid {
    width: 100%;
  }

  .history {
    margin-bottom: 30px;
  }
}

@media (max-width: 996px) {
  .main {
    padding: 0;
  }

  .staking-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .profit,
  .profit-statistic {
    width: 100%;
  }
}

@media only screen and (max-width: 996px) and (min-device-width: 767px) {
  .profit__head,
  .profit__values {
    justify-content: center;
  }

  .profit .select {
    margin: 0 auto;
  }

  .profit__values {
    margin-bottom: 30px;
  }

  .profit-statistic {
    width: 70%;
    margin-left: 17%;
  }

  .tokens-box {
    width: 67.4%;
  }

  .tokens-box {
    padding-left: 200px;
  }

  .tokens-box::before {
    left: 130px;
    background-size: 85% !important;
  }

  .apr-box {
    width: 30%;
    height: 176px;
  }

  .profit-box {
    position: relative;
    width: 100%;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .profit-box__head,
  .crypt-items {
    justify-content: center;
  }

  .profit-box__head {
    margin-bottom: 20px;
  }

  .profit-box .select {
    position: absolute;
    right: 30px;
  }
}

@media (max-width: 906px) {
  .btc__main-crypt {
    font-size: 27px;
  }

  .didvidents-crypt {
    font-size: 22px;
  }

  .didvidents-crypt__sum {
    font-weight: 500;
  }

  .didvidents-crypt__icon {
    width: 35px;
    height: 35px;
    margin-right: 7px;
  }

  .didvidents-crypt__icon--btc {
    width: 50px;
    height: 50px;
    margin-right: 13px;
  }

  .block-right__title {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    display: none;
  }

  .topmenu__user-avatar {
    width: 53px;
    height: 54px;
  }

  .menu-icon {
    position: absolute;
    left: 9px;
    top: 56%;
    transform: translateY(-50%);
  }

  .mobile-buttons {
    & .topmenu__user-info,
    & .menu-arrow,
    & .topmenu__user-info {
      display: none;
    }
    .topmenu__user {
      .select-btn {
        display: none;
      }
    }
    .game-balance {
      margin-right: 15px;
      &__btn {
        font-size: 12px;
      }
    }
  }

  .header__topmenu {
    & .topmenu__balance {
      position: absolute;
      bottom: 30px;
      & .select-dropdown {
        top: auto;
        bottom: calc(100% + 10px);
        padding-bottom: 5px;
        & .select-list::after {
          top: 100%;
          border: solid transparent;
          border-top-color: #24292f;
          border-width: 10px;
        }
      }
    }
  }

  .game-balance__select-list .select-list__item {
    font-size: 12px;
  }

  .game-balance img[data-cur] {
    width: 21px;
    height: 21px;
    margin-right: 5px;
  }

  .balance-btn {
    font-size: 12px;
    padding: 11px 13px;
    margin-right: 5px;
  }

  .user-link {
    font-size: 12px;
  }

  .topmenu-links {
    margin-top: 25px;
    height: calc(100% - 225px);
    overflow: auto;
  }

  .topmenu-link {
    font-size: 19px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .main__content {
    padding-top: 35px;
    max-width: 375px;
  }

  .main__content-buttons {
    margin-bottom: 60px;
  }

  .main__content-btn {
    font-weight: 400;
    font-size: 12px;
    padding: 13px 16px 13px 54px;
    &::before {
      left: -6px;
      top: -12px;
      background-size: 75%;
    }
  }

  .main__content-btn--red {
    margin-right: 23px;
    &::before {
      left: -9px;
      top: -8px;
    }
  }

  .main__content-btn--blue::before {
    left: -8px;
    top: -13px;
  }

  .section-bg--dividents {
    display: none;
  }

  .section-bg--divs {
    display: block;
  }

  .my-balance,
  .btc {
    width: 100%;
  }

  .btc {
    background: url("../img/btc-bg-small.png") no-repeat right;
    margin-bottom: 35px;
  }

  .didvidents__block {
    padding-left: 20px;
    padding-top: 27px;
  }

  .didvidents-crypt__icon--btc {
    width: 43px;
    height: 43px;
  }

  .didvidents-crypt:not(.btc__main-crypt) {
    font-size: 18px;
  }

  .didvidents-crypt {
    margin-bottom: 23px;
  }

  .btc__main-crypt {
    margin-bottom: 25px;
  }

  .btc__crypt-list {
    margin-left: 6px;
    margin-bottom: 22px;
  }

  .btc__distribution {
    margin-left: 5px;
  }

  .distribution__title {
    margin-bottom: 13px;
  }

  .distribution__time {
    margin-bottom: 6px;
  }

  .distribution__time {
    font-size: 18px;
  }

  .my-balance {
    position: relative;
    background: none;
    padding-bottom: 20px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      right: -37px;
      top: 30%;
      width: 80px;
      height: 149px;
      background: #fa305c;
      filter: blur(100px);
      z-index: 10;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 15px;
      width: 190px;
      height: 219px;
      background: url("../img/balance-bg-small.png") no-repeat right 90%;
      z-index: 20;
    }
  }

  .my-balance__title {
    margin-top: -12px;
    margin-bottom: 17px;
  }

  .my-balance__crypt-list {
    position: relative;
    z-index: 20;
    margin-bottom: 18px;
  }

  .estimated-profit {
    padding-bottom: 18px;
  }

  .profit__head {
    margin-bottom: 32px;
  }

  .profit__head-title {
    font-size: 22px;
  }

  .profit__head-img {
    margin-right: 7px;
  }

  .profit__head-img img {
    width: 43px;
    height: 53px;
  }

  .profit__head-descr {
    font-size: 12px;
  }

  .profit-value:first-child {
    margin-right: 50px;
  }

  .profit__values {
    margin-top: 40px;
    margin-bottom: 22px;
  }

  .profit-table {
    min-width: 440px;
  }

  .history__head {
    flex-wrap: wrap;
  }

  .dashboard__history {
    padding-top: 26px;
    padding-left: 21px;
  }

  .paid-select,
  .history__head .select {
    width: 100%;
    margin-top: 10px;
  }

  .history__buttons {
    margin-bottom: 22px;
  }

  .history__head .select {
    margin-top: 26px;
  }

  .dashboard__table,
  .dashboard__table-wrapper::before {
    min-width: 460px;
  }

  .dashboard__table-body tr {
    height: 48px;
  }

  .dashboard__table-body {
    height: 308px;
  }

  .dashboard__paid {
    padding-right: 15px;
    padding-top: 35px;
  }

  .paid__head-title {
    font-size: 22px;
  }

  .paid__head-content {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .paid__head-cost {
    font-family: "Gotham Pro", sans-serif;
    margin-top: 0;
  }

  .paid__head-crypt::after {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }

  .paid-graphic {
    margin-bottom: 25px;
  }

  .paid-graphic--small {
    display: block;
  }

  .paid-graphic--big {
    display: none;
  }

  .paid__head {
    margin-bottom: 30px;
  }

  .paid__graphic-date {
    display: none;
  }

  .paid-paid__graphic-btn {
    padding: 12px 23px;
  }

  .faq .section-bg {
    max-width: 28%;
  }

  .faq-row {
    flex-direction: column;
  }

  .faq-box {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
  }

  .faq-box:last-child {
    margin-bottom: 0;
  }

  .faq-box__icon--doc {
    position: static;
  }

  .faq-box__title {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 5px;
  }

  .faq-box__info {
    font-size: 12px;
    line-height: 18px;
  }

  .faq-box__icon-item {
    max-width: 70px;
    max-height: 70px;
  }

  .faq-box__icon {
    width: 70px;
    height: 70px;
    margin-left: -7px;
  }
}

@media (max-width: 375px) {
  .game-balance {
    margin-right: 15px;
  }

  .game-balance__btn {
    font-size: 12px;
  }

  .game-balance img[data-crypt] {
    width: 21px;
    height: 21px;
    margin-right: 6px;
  }

  .paid-paid__graphic-btn {
    padding: 9px 16px;
  }
}

@media (max-width: 360px) {
  .main__content-btn--red {
    display: block;
    margin-bottom: 30px;
  }

  .didvidents__block {
    padding-left: 15px;
  }

  .didvidents-crypt {
    font-size: 20px;
  }

  .didvidents-crypt__icon {
    width: 30px;
    height: 30px;
  }

  .didvidents-crypt__icon--btc {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }

  .didvidents-crypt:not(.btc__main-crypt) {
    font-size: 15px;
  }

  .main-title {
    font-size: 22px;
  }

  .my-balance__btn {
    padding: 15px 23px;
  }

  .profit-value:first-child {
    margin-right: 35px;
  }

  .profit-value__sum {
    font-size: 25px;
  }

  .history-btn:first-child {
    margin-right: 17px;
  }

  .history-btn {
    font-size: 13px;
  }
}
