@import "base";
@import "fonts";

// SELECT

.main-select {
  display: none;
}

.select {
  position: relative;
}

.select-buttons {
  position: relative;
}

.select-btn {
  position: absolute;
  z-index: 20;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.select-button {
  display: flex;
  align-items: center;
  width: 100%;
}

.select-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 15px;
  transition: all 0.3s;
}

.select-list,
.user-dropdown__inner {
  position: relative;
  background: #24292f;
  border-radius: 5px;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    pointer-events: none;
    border-color: rgba(36, 41, 47, 0);
    border-bottom-color: #24292f;
    border-width: 10px;
    z-index: 5;
  }
}

.select-list__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 43px;
  padding: 0 15px;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background-color: rgba(85, 101, 126, 0.25);
  }
}

.select-dropdown--menu {
  right: auto;
  .select-list {
    padding-top: 10px;
  }
  .select-list__item {
    border-radius: 0;
    border-left: 3px solid transparent;
    &:hover {
      border-color: #2ddc4b;
    }
  }
}

.select-crypt {
  font-family: "Gotham Pro", sans-serif;
  margin-left: 3px;
}

.text-x {
  font-family: "Gotham Pro", sans-serif;
  margin-left: 3px;
}

// SECTION SELECT

.select-button--section {
  position: relative;
  border: 1px solid #55657e;
  border-radius: 10px;
  line-height: 18px;
  padding: 11px 30px 11px 16px;
}

.select-arrow--section {
  position: absolute;
  width: 29px;
  height: 100%;
  right: 0;
  top: 0;
  background: #55657e40;
  border-radius: 0px 10px 10px 0px;
  border-color: transparent;
  border-left: 1px solid #55657e40;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 46%;
    border: 5px solid transparent;
    border-top: 7px solid #fff;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
  &.active::after {
    transform: translate(-50%) rotate(180deg);
    top: 30%;
  }
}

.select-arrow--menu.active {
  transform: rotate(180deg);
}

.select img[data-crypt] {
  width: 17px;
  height: 21px;
  margin-right: 10px;
}

// HEAD

.header {
  position: sticky;
  height: 60px;
  width: 100%;
  top: 0;
  background-color: #161f2c;
  z-index: 100;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 42px 0 18px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 148px;
  margin-top: 15px;
  &::before {
    content: "";
    position: absolute;
    width: 242px;
    height: 72px;
    top: 0;
    left: 0;
    background-image: url(../img/logo-bg.svg);
    background-repeat: no-repeat;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 231px;
    height: 62px;
    top: 0;
    left: 0;
    box-shadow: 3px 0px 11px rgba(0, 0, 0, 0.42);
    border-radius: 20px;
  }
}

.header__logo-item {
  position: relative;
  width: 109px;
  height: 30px;
  z-index: 2;
}

.header__all-btn {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header__all-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.header__topmenu,
.topmenu,
.topmenu__balance {
  display: flex;
  justify-content: space-between;
}

.game-balance {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.game-balance__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 18px;
  padding-right: 10px;
  white-space: nowrap;
}

.game-balance img[data-crypt] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.mobile-btn {
  background: #2ddc4b;
  border-radius: 8px;
  padding: 6px 10px;
  display: none;
}

.balance-btn {
  font-size: 14px;
  padding: 12px 17px;
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.2s linear;
}

.balance-btn:last-child {
  margin-right: 0;
}

.balance-btn--red {
  background-color: #fa305c;
}

.balance-btn--blue {
  background-color: #2281f6;
}

.topmenu__notification {
  margin: 0 65px 0 30px;
}

.topmenu__notification-btn {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: -3px;
    top: -5px;
    width: 6px;
    height: 6px;
    background-color: #2ddc4b;
    border-radius: 50%;
  }
}

.topmenu__notifivation-bell {
  width: 17px;
  height: 17px;
}

.topmenu__user {
  position: relative;
}

.topmenu__user-avatar {
  width: 43px;
  height: 47px;
}

.topmenu__user-info {
  display: flex;
  flex-direction: column;
  text-align: end;
  white-space: nowrap;
  margin: 0 7px;
}

.topmenu__user-name {
  line-height: 14px;
  margin-bottom: 3px;
}

.topmenu__user-pos {
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  span {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #2ddc4b;
  }
}

.user-dropdown__rank {
  padding: 0 20px;
  margin-bottom: 20px;
}

.user-rank__top {
  margin-bottom: 10px;
}

.user-rank__top-icon {
  width: 45px;
  height: 37px;
  margin-right: 10px;
}

.user-rank__top-name {
  font-size: 12px;
  color: #6e7c8a;
}

.user-rank__top-pos {
  font-size: 12px;
  color: #30aa45;
  white-space: nowrap;
}

.user-rank__line {
  width: 95%;
  height: 8px;
  background: #383d46;
  border-radius: 99px;
  margin-bottom: 5px;
  position: relative;
}

.user-rank__line-scale {
  display: block;
  width: 78%;
  min-width: 8px;
  max-width: 100%;
  height: 100%;
  background: #28983b;
  border-radius: 99px;
}

.user-rank__line-img {
  width: 22px;
  position: absolute;
  right: -15px;
  top: -9px;
}

.user-rank__gamblar {
  font-size: 12px;
  color: #6e7c8a;
  span {
    color: #28983b;
    margin-left: 5px;
  }
}

.user-links__item {
  padding-left: 25px;
}

.user-link {
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 14px;
  color: #667380;
  border-left: 3px solid transparent;
}

.user-link:hover {
  border-color: #3dd158;
}

.user-link__img {
  margin-right: 10px;
}

.user-link__img svg {
  fill: #667380;
}

.user-link:hover {
  .user-link__img svg {
    fill: #30aa45;
  }
}

.topmenu-links {
  margin-top: 50px;
  display: none;
}

.topmenu-link {
  display: flex;
  align-items: center;
  font-size: 22px;
  transition: all 0.3s;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.topmenu-link:hover {
  color: #d12247;
}

.mobile-buttons {
  display: flex;
  align-items: center;
  display: none;
}

.menu-icon {
  position: relative;
  margin-left: 15px;
  display: none;
  z-index: 100;
  cursor: pointer;
}

// ASIDE

.aside-menu {
  width: 170px;
  height: 100%;
  position: fixed;
  background-color: #161f2c;
  z-index: 20;
}

.aside-menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 210px;
  margin-top: 13px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #ed1d49 0%, rgba(234, 86, 86, 0) 100%);
    border-radius: 50%;
    width: 91.32px;
    height: 91.32px;
    z-index: 15;
  }
  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #ed1d49 0%, rgba(234, 86, 86, 0) 100%);
    border-radius: 50%;
    width: 119.15px;
    height: 119.15px;
    opacity: 0.3;
    z-index: 15;
  }
}

.aside-menu__logo-img {
  position: relative;
  width: 104.61px;
  height: 97.06px;
  z-index: 20;
}

.aside-menu__shadow-big {
  position: absolute;
  background: linear-gradient(180deg, #ed1d49 0%, rgba(234, 86, 86, 0) 100%);
  border-radius: 50%;
  width: 143.5px;
  height: 143.5px;
  opacity: 0.3;
}

.aside-menu__shadow-small {
  position: absolute;
  border-radius: 50%;
  width: 127.46px;
  height: 102.46px;
  bottom: 48px;
  background: rgba(237, 29, 73, 0.7);
  filter: blur(45px);
}

.aside-menu__nav {
  margin-bottom: 155px;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 56px;
  line-height: 14px;
  color: #55657e;
  padding-left: 15px;
  border-left: 5px solid transparent;
  svg {
    fill: #55657e;
    margin-right: 10px;
  }
  &:hover {
    color: #fff;
    border-color: #d12247;
    svg {
      fill: #d12247;
    }
  }
}

.aside-menu__lang {
  margin-left: 15px;
}

.lang {
  display: inline-block;
  position: relative;
}

.lang__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border: 1px solid #334259;
  border-radius: 10px;
  padding: 10px;
}

.lang-text {
  margin-left: 7px;
  margin-right: 17px;
}

.lang-link {
  display: flex;
  align-items: center;
}

.lang-icon {
  width: 16px;
  height: 16px;
  margin-right: 7px;
}

// MAIN

.main {
  margin-left: 170px;
  padding: 0px 60px;
}

.main__content {
  max-width: 1075px;
  margin: 0 auto;
  padding: 50px 25px 270px;
}

.main-content__section {
  position: relative;
  padding-bottom: 82px;
}

.main__content-buttons {
  padding-left: 7px;
  margin-bottom: 45px;
  white-space: nowrap;
}

.main__content-btn {
  position: relative;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 17px 23px 16px 76px;
  &::before {
    content: "";
    position: absolute;
    left: -7px;
    top: -17px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.main__content-btn--red {
  background-color: #fa305c;
  margin-right: 50px;
  &::before {
    background-image: url(../img/dividents.png);
    width: 66px;
    height: 68px;
  }
}

.main__content-btn--blue {
  background-color: #1b2233;
  padding-left: 80px;
  &::before {
    background-image: url(../img/about-dividents.png);
    width: 75px;
    height: 69px;
  }
}

// DIVIDENTS

.main-content__didvidents {
  padding-bottom: 82px;
}

.section-bg--divs {
  display: none;
}

.didvidents__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.didvidents__block {
  padding: 28px 20px 28px 30px;
}

.my-balance,
.btc {
  width: 49%;
}

// DIVIDENTS-CRYPT

.didvidents-crypt {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
}

.didvidents-crypt:last-child {
  margin-bottom: 0;
}

.didvidents-crypt__icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.didvidents-crypt__icon--btc {
  width: 59px;
  height: 59px;
  margin-right: 15px;
}

.dividents-crypt__info--balance {
  margin-top: 5px;
}

.didvidents-crypt__info--btc {
  margin-top: -1px;
}

.didvidents-crypt__name {
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
}

.didvidents-crypt__sum {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.didvidents-crypt__sum--big {
  font-size: 15px;
  line-height: 20px;
}

// BTC

.btc {
  background: url("../img/btc-bg.png") no-repeat right bottom;
  background-size: 100%;
}

.btc__main-crypt {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 32px;
  white-space: nowrap;
}

.btc__crypt-list {
  margin-left: 9px;
  margin-bottom: 40px;
}

.btc__distribution {
  margin-left: 13px;
}

.distribution__title {
  font-family: "Gotham Pro", sans-serif;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.distribution__time {
  font-size: 20px;
  margin-bottom: 10px;
}

.distribution__line {
  position: relative;
  max-width: 262px;
  width: 100%;
  height: 6px;
  background: #55657e;
  border-radius: 55px;
}

.distribution__scale {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  background-color: #2ddc4b;
}

// MY-BALANCE

.my-balance {
  background: url("../img/balance-bg.png") no-repeat right bottom;
  background-size: 100%;
}

.my-balance__title {
  margin-bottom: 20px;
}

.my-balance__crypt-list {
  margin-bottom: 20px;
}

.my-balance__btn {
  padding: 18px 30px;
  text-transform: uppercase;
  background: linear-gradient(250.05deg, #fa305c 2.79%, #b61739 138.13%);
  border-radius: 10px;
  margin-left: 4px;
}

// ESTIMATED-PROFIT

.estimated-profit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 31px;
}

.profit {
  width: 46%;
}

.profit__head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.profit__head-img {
  position: relative;
  margin-right: 15px;
  img {
    width: 50px;
    height: 63px;
    position: relative;
    z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    left: 20%;
    top: 10%;
    height: 55.33px;
    width: 30px;
    background: #fa305c;
    opacity: 0.4;
    -webkit-filter: blur(27px);
    filter: blur(27px);
    z-index: 5;
  }
}

.profit__head-title {
  margin-bottom: 10px;
}

.profit__head-descr {
  font-family: "Gotham Pro", sans-serif;
}

.profit .select {
  max-width: 368px;
  .select-text {
    font-family: "Roboto", sans-serif;
  }
}

.profit__values {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 3px;
}

.profit-value__top {
  margin-bottom: 5px;
}

.profit-value:first-child {
  margin-right: 80px;
}

.profit-value__name {
  font-family: "Gotham Pro", sans-serif;
  color: #55657e;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-right: 11px;
}

.profit-value__sum {
  font-weight: 700;
  font-size: 28px;
  color: #fed700;
}

.profit-value__per {
  font-family: "Gotham Pro", sans-serif;
  margin-left: 3px;
}

.profit-statistic {
  width: 50.3%;
  position: relative;
  margin-top: 3px;
}

.profit-table {
  min-width: 414px;
}

.profit-table__titles {
  position: relative;
  text-transform: uppercase;
  th {
    padding-bottom: 26px;
  }
  .profit-day {
    width: 35%;
  }
  .profit-month {
    width: 30.7%;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    height: 1px;
    max-width: 440px;
    width: 100%;
    background-color: rgba(85, 101, 126, 0.18);
  }
}

// STATISTIC CRYPT

.crypt {
  display: flex;
  align-items: center;
  height: 43px;
}

.crypt__icon {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

// STAKING

.main-content__staking {
  position: relative;
  padding-bottom: 85px;
}

.staking__top-info {
  position: absolute;
  top: 25px;
  left: 10px;
  font-family: "Gotham Pro", sans-serif;
  font-size: 20px;
}

.staking__all-tokens {
  margin-right: 6px;
}

.staking-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 29px 29px 17px;
}

.staking-block:not(:last-child) {
  margin-bottom: 25px;
}

.staking-box {
  background: #1b2233;
  border-radius: 10px;
  padding: 35px 15px 22px 30px;
}

.tokens-box {
  width: 35%;
  position: relative;
  padding-left: 75px;
  white-space: nowrap;
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -13px;
    transform: translateX(-50%);
    width: 138px;
    height: 167px;
  }
}

.tokens-box--btc::before {
  background: url("../img/xxx-token-blue.png") no-repeat;
  background-size: 100%;
}

.tokens-box--trx::before {
  background: url("../img/xxx-token-red.png") no-repeat;
  background-size: 100%;
}

.tokens-box__title {
  margin-bottom: 20px;
}

.tokens-box__sum {
  font-weight: 700;
  font-size: 30px;
}

.tokens-box__crypt {
  font-family: "Gotham Pro", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.profit-box {
  width: 42%;
}

.profit-box__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.profit-box .select {
  margin-top: -10px;
}

.profit-box .select-button {
  padding: 12px 68px 12px 18px;
}

.crypt-items {
  display: flex;
}

.crypt-items__left {
  margin-right: 40px;
}

.apr-box {
  width: 20%;
  position: relative;
  padding-left: 36px;
}

.apr-box__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.apr-box__img-hid {
  display: none;
}

.apr-box__img-hid,
.apr-box__img-main {
  width: 100%;
  height: 100%;
}

.apr-box__content {
  position: relative;
  z-index: 10;
}

.apr-box__title {
  margin-bottom: 15px;
}

// TOKEN

.main-content__token {
  padding-bottom: 97px;
}

.tokens {
  padding-bottom: 92px;
}

.token__head {
  display: flex;
  justify-content: space-between;
  & .section-bg {
    width: 59%;
  }
  & .price-changes {
    width: 29.3%;
  }
}

.token__price-changes {
  margin: 3px 46px 25px 0;
  white-space: nowrap;
}

.price-changes__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price-changes__name {
  font-family: "Gotham Pro", sans-serif;
  letter-spacing: 0.01em;
  margin-right: 30px;
}

.price-changes__num {
  font-weight: 700;
  font-size: 12px;
}

.price-changes__line {
  position: relative;
  max-width: 305px;
  width: 100%;
  height: 6px;
  background: #55657e;
  border-radius: 99px;
}

.price-changes__line-scale {
  position: relative;
  display: block;
  max-width: 36%;
  width: 100%;
  min-width: 8px;
  height: 100%;
  background: #2ddc4b;
  border-radius: 99px;
  &::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    background-color: #151e2b;
    border: 2px solid #2ddc4b;
    border-radius: 50%;
  }
}

.price-changes__line-img {
  position: absolute;
  right: -3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  text-align: center;
  background: #fa305c;
  border-radius: 50%;
  box-shadow: 0px 0px 11px #fa305c;
}

.line-img {
  width: 14px;
  height: 14px;
  margin-top: 5px;
}

.token-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    122.89deg,
    rgba(34, 123, 246, 0.76) -0.62%,
    rgba(22, 31, 44, 0.76) 62.91%
  );
  padding-left: 138px;
  padding-bottom: 26px;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -87px;
    width: 218px;
    height: 255px;
    background: url(../img/token-img.png) no-repeat;
    background-size: 100%;
  }
}

.token-price {
  width: 61%;
}

.token-price__title {
  margin-bottom: 18px;
}

.token-price__categories {
  display: flex;
}

.category {
  width: 50%;
}

.category__title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.category__title-icon {
  width: 21px;
  height: 24px;
  margin-right: 10px;
}

.category__title-text {
  font-family: "Gotham Pro", sans-serif;
  line-height: 30px;
  color: #6ca8f1;
}

.category__crypt {
  font-weight: 700;
  font-size: 25px;
  height: 48px;
}

.category__crypt-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.category__crypt-sum {
  margin-right: 7px;
}

.category__crypt-sum--btc {
  color: #fed700;
}

.category__crypt-sum--trx {
  color: #fa305c;
}

.category__crypt-name {
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
}

.token-detail {
  width: 37.4%;
}

.token-detail__title {
  margin-bottom: 16px;
}

.detail-list {
  padding-top: 18px;
  border-top: 1px solid #5184c2;
  margin-right: 30px;
}

.detail-list__item {
  display: flex;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  white-space: nowrap;
}

.detail-list__name {
  letter-spacing: 0.01em;
  color: #628dc0;
  margin-right: 25px;
}

.detail-list__descr {
  font-family: "Roboto", sans-serif;
}

.detail-list__num {
  margin-right: 4px;
}

.detail-list__x {
  margin-right: 7px;
}

// DASHBOARD

.main-content__dashboard {
  padding-bottom: 74px;
}

.dashboard__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.history,
.paid {
  width: 48.9%;
}

.dashboard__history {
  padding: 20px 17px 0 32px;
}

.history__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  .select-button {
    padding-right: 44px;
    img[data-crypt] {
      margin-right: 7px;
    }
  }
}

.history__head-title {
  margin-top: 3px;
}

.history__buttons {
  margin-bottom: 6px;
}

.history-btn--red {
  color: #fa305c;
}

.history-btn {
  font-weight: 700;
  text-transform: uppercase;
}

.history-btn:first-child {
  margin-right: 30px;
}

.dashboard__table-item {
  position: relative;
  margin-right: -17px;
}

.dashboard__table {
  min-width: 414px;
  font-size: 12px;
}

.dashboard__table-caption {
  position: sticky;
  top: 0;
  background-color: #161f2c;
  z-index: 66;
}

.dashboard__table tr {
  height: 45px;
}

.table-titles__date {
  width: 13.7%;
}

.table-titles__distribution {
  width: 28.5%;
}

.table-titles__tokens {
  width: 24%;
}

.dashboard__table-body {
  height: 340px;
  // overflow-y: auto;
}

.dashboard__table-body tr {
  border-bottom: 1px solid rgba(85, 101, 126, 0.18);
  border-top: 1px solid rgba(85, 101, 126, 0.18);
}

.table-body__date {
  width: 14%;
}

.table-body__distribution {
  width: 28.6%;
}

.table-body__tokens {
  width: 24.4%;
}

.table-body__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 46px;
}

.dashboard-crypt__icon {
  margin-right: 6px;
  width: 18px;
  height: 18px;
}

.crypt-list {
  display: none;
  overflow: hidden;
  margin: -10px 0 13px;
  transition: all 0.3s;
}

.crypt-list.active {
  display: block;
  height: 100%;
}

.crypt-list__item {
  height: 33px;
}

.dashboard__table-btn {
  position: relative;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding-right: 35px;
  z-index: 10;
}

.dashboard__table-arrow {
  background-color: transparent;
  border: none;
}

.dashboard__paid {
  padding: 26px 38px 30px 25px;
}

.paid__head {
  margin-bottom: 25px;
}

.paid__head-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
  .select-button--section {
    padding: 12px 37px 11px 16px;
  }
  .select img[data-crypt] {
    width: 20px;
    height: 20px;
  }
}

.paid__head-trx {
  font-weight: 700;
  font-size: 25px;
  margin-top: 8px;
  margin-right: 20px;
  white-space: nowrap;
}

.paid__head-sum {
  color: #fa305c;
  line-height: 30px;
}

.paid__head-crypt {
  position: relative;
  margin-left: 4px;
  padding-right: 38px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    transform: translateY(50%);
    width: 18px;
    height: 18px;
    background: url("../img/info.png") no-repeat;
    background-size: 18px;
  }
}

.info-icon--paid {
  width: 18px;
  height: 18px;
  vertical-align: baseline;
}

.paid__head-cost {
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
}

.paid-graphic {
  max-width: 440px;
  width: 100%;
  max-height: 180px;
  margin-bottom: 15px;
}

.paid-graphic--small {
  display: none;
}

.paid__graphic-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.paid__graphic-date {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  // font-family: "Gotham Pro", sans-serif;
  // letter-spacing: 0.01em;
}

.paid__graphic-per {
  font-family: "Gotham Pro", sans-serif;
  letter-spacing: 0.01em;
  line-height: 30px;
  margin-right: 15px;
}

.paid__graphic-dates {
  // font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  // color: #fff;
  letter-spacing: 0.06em;
}

.paid__graphic-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 9px;
}

.paid-paid__graphic-btn {
  font-size: 12px;
  text-transform: uppercase;
  padding: 11px;
  border: 0.854545px solid #55657e;
  border-radius: 8.54545px;
  &.active {
    background: #55657e;
    border: none;
  }
}

.paid-paid__graphic-btn:last-child {
  margin-right: 0;
}

// .paid__graphic-line {
//   position: relative;
//   height: 2px;
//   width: 100%;
//   background-color: #fa305c;
// }

// .graphic-interval {
//   position: absolute;
//   left: 62%;
//   transform: translateX(-50%) translateY(-34%);
//   max-width: 140px;
//   width: 100%;
// }

// .graphic-interval__item {
//   position: relative;
//   height: 48px;
//   background: #1b2233;
//   border-radius: 10px;
//   margin-bottom: 10px;
//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 3px;
//     height: 23px;
//     background-color: #fff;
//   }
//   &::before {
//     left: 0;
//   }
//   &::after {
//     content: "";
//     right: 0;
//   }
// }

// .graphic-interval__date {
//   text-align: center;
//   font-size: 12px;
// }

.paid__graphic-line {
  position: relative;
  padding-bottom: 50px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: rgba($color: #fa305c, $alpha: .25);
  }
}

.graphic-interval {
  position: absolute;
  left: 62%;
  transform: translateX(-50%) translateY(-34%);
  max-width: 140px;
  width: 100%;
}

.graphic-interval__item {
  position: relative;
  height: 48px;
  background: #1b2233;
  border-radius: 10px;
  margin-bottom: 10px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 23px;
    background-color: #fff;
  }
  &::before {
    left: 0;
  }
  &::after {
    content: "";
    right: 0;
  }
}

.graphic-interval__date {
  text-align: center;
  font-size: 12px;
}

// FAQ

.faq-row {
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.faq-row:not(:last-child) {
  margin-bottom: 65px;
  margin-top: 13px;
}

.faq-box {
  font-family: "Gotham Pro";
  width: 30.7%;
}

.faq-box__icon-item {
  position: relative;
  max-width: 90px;
  max-height: 90px;
  height: 100%;
  width: 100%;
}

.faq-box__icon {
  margin-left: -20px;
}

.faq-box__icon--doc {
  position: absolute;
  bottom: 11px;
  margin-left: 0;
}

.faq-box__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.faq-box__info {
  line-height: 23px;
}

@import "media";
